div.col-md-6.col-xs-12
  div(class="alert alert-warning fade in hidden" role="alert")
    span.alert-text

  form.form-inline(id="addContactForm")
    .form-group
      input#addUsername(type="text" class="form-control" placeholder="Enter username of your friend to add" style="margin-right:10px")
    button(type="submit" class="btn btn-default") Add

  ul.list-group.clickable(id="contactList" style="margin-top:10px")
