doctype html
html
  head
    title Secure chat
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    script(type='text/javascript', src='/javascripts/libs/jquery-2.2.4.min.js')
    script(type='text/javascript', src='/javascripts/libs/bootstrap.min.js')
  body
    .container
      .row
        .col-sm-12
          h1 Secure chat

          block content