doctype html
html
  head
    title Secure chat
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    script(type='text/javascript', src='/javascripts/libs/jquery-2.2.4.min.js')
    script(type='text/javascript', src='/javascripts/libs/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/libs/jsencrypt.min.js')
    script(type='text/javascript', src='/javascripts/libs/aes.js')
    script(type='text/javascript', src='/javascripts/local-storage.js')
    script(type='text/javascript', src='/javascripts/api.js')
    script(type='text/javascript', src='/javascripts/auth.js')
    script(type='text/javascript', src='/javascripts/panel.js')
    script(type='text/javascript', src='/javascripts/rsa.js')
    script(type='text/javascript', src='/javascripts/aes.js')
    script(type='text/javascript', src='/javascripts/main.js')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .container
      nav(class="navbar navbar-full navbar-light" style="background-color: #e3f2fd;")
        h7(class="navbar-brand") Secure chat
        ul(class="nav navbar-nav navbar-right")
          li
            p.navbar-text.username-block(style="margin-right:30px")
              strong.user-name(style="margin-right:10px")
              a.login-link Login
      .row
        .col-xs-12.col-md-12
          block content