.row
  .col-md-6
    div(class="alert alert-warning fade in hidden" role="alert")
      span.alert-text

    form(id="addMessageForm")
      input#receiver(type="hidden" name="receiver")
      fieldset.form-group
        label(for="addMessage") Message to:&nbsp;
          span#receiverName
        textarea#addMessage(class="form-control" rows="5" style="width: 100%")
      fieldset.form-group
        button(type="submit" class="btn btn-default") Send
        label.pull-right
          input#isEncrypted(type="checkbox" value="")
          | Encrypted

    ul.list-group(id="messageList" style="margin-top:10px")

  .col-md-6.public-key
    div(class="alert fade in hidden" role="alert")
      span.alert-text

    form#publicKeyForm
      .form-group
        label(for="publicKey" class="control-label") Public RSA key:
        textarea(id="publicKey" placeholder="Public key" class="form-control" rows="5" style="width: 100%")
      .form-group
        button(type="submit" class="btn btn-default") Save
