.row
  .col-md-6.col-md-push-6.col-xs-12.public-key
    div(class="alert fade in hidden" role="alert")
      span.alert-text

    form#publicKeyForm.collapse
      .form-group
        label(for="publicKey" class="control-label") Public RSA key:
        textarea(id="publicKey" placeholder="Public key" class="form-control" rows="5" style="width: 100%")
      .form-group
        button(type="submit" class="btn btn-default") Save
    button(href="#publicKeyForm" data-toggle="collapse" style="margin-bottom: 10px;") Set public RSA key

  .col-md-6.col-md-pull-6.col-xs-12
    div(class="alert alert-warning fade in hidden" role="alert")
      span.alert-text

    form(id="addMessageForm")
      input#receiver(type="hidden" name="receiver")
      fieldset.form-group
        textarea#addMessage(class="form-control" rows="5" style="width: 100%")
      fieldset.form-group.row
        .col-md-2
          button(type="submit" class="btn btn-default") Send
        .col-md-1.spinner-holder
        .col-md-9
          label.pull-right
            input#isEncrypted(type="checkbox" value="")
            | Encrypted

    ul.list-group(id="messageList" style="margin-top:10px")
