#currentUser(style="display: none;")
  .profile You are currently logged as:&nbsp;
    strong
    | &nbsp;
    a.login-link logout
  .own-keys(style="margin-top:20px")
    div(class="alert fade in hidden" role="alert")
      span.alert-text

    form#ownKeysForm
      .form-group
        label(for="ownPublicKey" class="control-label") Public RSA key:
        textarea(id="ownPublicKey" placeholder="Public key" class="form-control" rows="5" style="width: 100%")
      .form-group
        label(for="ownPrivateKey" class="control-label") Private RSA key:
        textarea(id="ownPrivateKey" placeholder="Private key" class="form-control" rows="5" style="width: 100%")
      .form-group
        button(type="submit" class="btn btn-default") Save

#loginRegisterForms(class="col-md-12")
    div(id="loginForm").col-md-6.col-xs-12
      h4.text-center Login

      div(class="alert fade in hidden" role="alert")
        span.alert-text

      form.form-horizontal
        .form-group
          label(for="username" class="col-sm-2 control-label") Username
          .col-sm-10
            input(id="username" type="text" placeholder="Username" class="form-control")
        .form-group
          label(for="password" class="col-sm-2 control-label") Password
          .col-sm-10
            input.form-control(type="password" id="password")
        .form-group
          .col-sm-10.col-sm-offset-2
            button(type="submit" class="btn btn-default pull-right") Login!

    div(id="registerForm").col-md-6.col-xs-12
      h4.text-center Registration

      div(class="alert fade in hidden" role="alert")
        span.alert-text

      form.form-horizontal
        .form-group
          label(for="registerFormUsername" class="col-sm-2 control-label") Username
          .col-sm-10
            input.form-control(type="text" id="registerFormUsername" placeholder="Username")
        .form-group
          label(for="registerFormPassword" class="col-sm-2 control-label") Password
          .col-sm-10
            input.form-control(type="password" id="registerFormPassword")
        .form-group
          label(for="registerFormPasswordReenter" class="col-sm-2 control-label") Reenter password
          .col-sm-10
            input.form-control(type="password" id="registerFormPasswordReenter")
        .form-group
          .col-sm-10.col-sm-offset-2
            button(type="submit" class="btn btn-default pull-right") Register!
