body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@media (max-width: 768px) {
  html, body {
    width: auto !important;
    overflow-x: hidden !important;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .username-block {
    display: none;
  }
}

.clickable {
  cursor: pointer;
}
