body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@media (max-width: 768px) {
  html, body {
    width: auto !important;
    overflow-x: hidden !important;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .username-block {
    display: none;
  }
}

.clickable {
  cursor: pointer;
}

.spinner {
  background:url('../images/spin.gif') no-repeat center center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 1;
}